
#canva-cont{
    background-color: rgba(66, 59, 59, 0.445);
    border-style:ridge;
    border-width: 0.7vw;
    border-color: rgb(71, 68, 68);
}

.freqs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.freqs p{
    margin: 0;
    font-size: 0.9vh;
}

#0k{
    order: 1;
}
#1k{
    order: 2;

}
#20k{
    order:3;
}

.input-range{
    height: 100%;
    transform:  rotate(270deg);

 }
#eq{
    margin-top: 1%;
    display: flex;
    height: 100%;
    
    justify-content: space-around;

    text-align: center;
}


.range-slider {
    width: 30px;
    height: 152px;
    background-color: rgba(0, 0, 0, 0.62);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
}

.section {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 8px;
   
}
.title {
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
  }

  
.cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .cont {
      flex-direction: column;
    }
  }

.colum{
    flex: 30%
    
}
#eq-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#sliders{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.param {
    color: #0c0303;
    font-size: 14px;
    line-height: 14px;
  }
  .scope {
    color: #0e0303;
    font-size: 12px;
    line-height: 12px;
    
  }

  .scope.min {
    margin-top: 35px;
  }

  .input-range:hover{
      cursor: pointer;
  }