.oscillators,.FX{
    background: rgb(14,14,14);
    background: linear-gradient(90deg, rgba(14,14,14,1) 0%, rgba(247,235,235,1) 40%, rgba(24,24,24,1) 100%);
}

.custom{
    background: rgb(82,66,80);
    background: radial-gradient(circle, rgba(82,66,80,1) 0%, rgba(46,33,33,1) 50%, rgba(55,39,39,1) 100%);
}

.header{
    background: rgb(82,66,80);
    background: radial-gradient(circle, rgba(82,66,80,1) 0%, rgba(162,107,107,1) 50%, rgba(55,39,39,1) 100%);
}

.off{
    display: none;
}