html, body {
    height: 100%;
  }
  
#root{
    height: 100%;
}

#background{
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    
}

#footer{
    background: rgb(231,73,198);
background: linear-gradient(125deg, rgba(231,73,198,1) 3%, rgba(205,76,178,0.41220238095238093) 48%, rgba(226,56,199,1) 100%);
    height: 100%;
    width: 100%;
    margin: 0;
}
#card{
    width:  40%;
    background-color: RGB(214, 223, 227,0.7);
    border-style: ridge;
    border-radius: 15px;
    align-items: center;
    height: 50%;
    margin-top: 3%;
    order: 2;
}

@media only screen and (max-width: 768px) {
    #card{
        width: 60vw;
    }
}

.item1{
   text-align: center;
   margin-top: 5%;
   order: 1;
    color: white;
}

.item2 h3{
    text-align: center;
}