.piano{
    box-sizing: border-box;
}
ul{
    
    height: 50%;
    width:100%;
    padding-left: 3%;
    padding-right: -2em;
    padding-bottom: 24.3em;
    margin-bottom: 0;
    position:relative;
    border:1px solid #160801;
  
    background:linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
    box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5)
}

li{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
    display: flex;
    text-align: center;
    align-content: center;
}

li  p{
  
    align-self: flex-end;
    margin-left: 30%;
}

.octaves{
    z-index: 1;
}

.white{
    float: left;
    height: 24em;
    z-index: 2;
    width: 8em;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#eee 0%,#fff 100%);
}

.white:active{
    border-top:4px solid  rgb(97, 179, 255);
    border-left:3px solid rgb(97, 179, 255);
    border-right: 3px solid rgb(97, 179, 255);
    border-bottom:1px solid rgb(97, 179, 255);
    box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.black{
    height: 12em;
    width: 3.5em;
    z-index: 3;
    border: 2px solid #000;
    border-radius:0 0 3px 3px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
    background:linear-gradient(45deg,#222 0%,#555 100%)
    
}

.black:active{
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
    background:linear-gradient(to right,#444 0%,#222 100%)
}

/* Centramos las notas negras */
#D, #E, #G ,#A, #B{
    margin-left: -2em;
}
#C,#D ,#F ,#G, #A{
    margin-right: -2em;
}
ul li:first-child {
    border-radius:5px 0 5px 5px
  }
  
  ul li:last-child {
    border-radius:0 5px 5px 5px
  }

  @media screen and (max-width: 1870px) {
    .C1{
        display: none;
    }
  }
  @media screen and (max-width: 1720px) {
    .B{
        display: none;
    }
  }

  @media screen and (max-width: 1719px) {
    .AS{
        display: none;
    }
  }
  @media screen and (max-width: 1600px) {
    .A{
        display: none;
    }
  }
  @media screen and (max-width: 1503px) {
    .GS{
        display: none;
    }
  }

  @media screen and (max-width: 1503px) {
    .GS{
        display: none;
    }
  }

  
  @media screen and (max-width: 1470px) {
    .G{
        display: none;
    }
  }

  @media screen and (max-width: 1400px) {
    .FS{
        display: none;
    }
  }

  
  @media screen and (max-width: 1370px) {
    .F{
        display: none;
    }
  }

  
  @media screen and (max-width: 1220px) {
    .E{
        display: none;
    }
  }

  @media screen and (max-width: 1160px) {
    .DS{
        display: none;
    }
  }

  @media screen and (max-width: 1100px) {
    .D{
        display: none;
    }
  }

  @media screen and (max-width: 1010px) {
    .CS{
        display: none;
    }
  }

  @media screen and (max-width: 1000px) {
      .white{
          width: 4.6em ;
      }
      .black{
          width: 2.2em;
      }
      .o2{
          display: none;
      }
  }

  